<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/highcharts.js"></script>
<script type="text/javascript" src="/js/highcharts-3d.js"></script>
<script type="text/javascript" src="/js/graph.js"></script>
<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div id="container" data-title='<%= @sprint_title %>' data-sprint-period='<%= @sprint_period %>' data-ideal='<%= @graph_data_ideal %>' data-remain-times='<%= @graph_data_remain_times %>' data-additional-times='<%= @graph_data_additional_times %>' data-total-estimated-times='<%= @graph_data_total_estimated_times %>' style="max-width: 1000px; min-width: 310px; height: 600px; margin: 0 auto">

</div>

<table border="1" style="max-width: 1000px; min-width: 310px; margin: 0 auto">
	<tr>
		<th>営業日</th>
		<th>date</th>
		<th>理想</th>
		<th>残時間</th>
		<th>追加</th>
		<th>総時間</th>
	</tr>
	<% 0.upto(@sprint_period.length - 1) do |day_num| %>
	<tr>
		<td><%= day_num+1 %></td>
		<td><%= @sprint_period[day_num] %></td>
		<td><%= @graph_data_ideal[day_num] %></td>
		<td><%= @graph_data_remain_times[day_num] %></td>
		<td><%= @graph_data_additional_times[day_num] %></td>
		<td><%= @graph_data_total_estimated_times[day_num] %></td>
	</tr>
<% end %>
</table>
